[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
logus-core = { path = "crates/logus-core" }
logus-parser = { path = "crates/logs-parser" }
